.modal-content {
  margin-top: 100px !important;
}
.close {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  font-size: 30px !important;
}
.close .sr-only {
  display: none !important;
}
