.navbar {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
}
.navbar a {
  color: #818181 !important;
  transition: all 200ms ease-in-out;
}
.navbar a:hover {
  color: #0a0a0a !important;
}
